<style>
	#exceedance1{
		background-color: red;
	}
</style>
<div class="row">

    <!--THE CESIUM CONTAINER-->
    <div id="cesiumContainer" class="col-md-12"></div>
    <!--THE CESIUM CONTAINER-->
    <div id="controlPanel">
		<!--Live HTML table WIP-->
		<div id="flightInfo" style="color:Grey">
			<ul class="list-group">
				<li class="list-group-item">
					<span id="altitude" class="pull-right"></span>
						Altitude:
				</li>
			</ul>
			<ul class="list-group">
				<li class="list-group-item">
					<span id="airSpeed" class="pull-right"></span>
						IAS:
				</li>
			</ul>
			<ul class="list-group">
				<li class="list-group-item">
					<span id="latitude" class="pull-right"></span>
						Latitude:
				</li>
			</ul>
			<ul class="list-group">
				<li class="list-group-item">
					<span id="longitude" class="pull-right"></span>
						Longitude:
				</li>
			</ul>
		</div>
		
		
	
		
		
		<!-- Options menu WIP-->
        <div id="options" class="btn-group" dropdown>
            <button class="btn btn-default btn-lg dropdown-toggle">
                <span class="class glyphicon glyphicon-menu-down"></span>
                <span class="glyphicon glyphicon-menu-hamburger"></span>
            </button>
            <ul class="dropdown-menu">
                <li>
                    <a role="button" (click)="onBack()">
                        <span class="glyphicon glyphicon-arrow-left"></span>
                        <span class="tab"></span>Back
                    </a>
                </li>
                <li>
                    <a role="button" (click)="onRestart()">
                        <span class="glyphicon glyphicon-retweet"></span>
                        <span class="tab"></span>Restart
                    </a>
                </li>
				<ul class="dropdown-submenu">
					<li>
						<a role="button">
							<span id="plane1" class="glyphicon glyphicon-plane"></span>
							Cessna
						</a>
					</li>
					<li>
						<a role="button">
							<span id="plane2" class="glyphicon glyphicon-plane"></span>
							Milk Truck
						</a>
					</li>
				</ul>
            </ul>
        </div>
    </div>
</div>

<div class="row1">
	<div id="controlPanel1">
		<!--Live HTML table WIP-->
		<div id="legend" style="color:Grey;">
			<ul class="list-group" style="color: red">
				<li class="list-group-item">
					<div id="exceedance1"></div>
						Excessive IAS
				</li>
			</ul>
			<ul class="list-group" style="color: blue">
				<li class="list-group-item">
					<div id="exceedance2"></div>
						Excessive Altitude
				</li>
			</ul>
			<ul class="list-group" style="color: green">
				<li class="list-group-item">
					<div id="exceedance3"></div>
						Excessive Roll
				</li>
			</ul>
		</div>
    </div>
</div>